<div class="d-flex flex-column justify-content-between sidebarContent">
    <div>
        <div class="sidebarLogoContainer mt-4 mb-4">
            <div class="siderBarLogo"></div>
        </div>
        <ul class="sidebar-menu">
            <li
                class="sidebar-menu-item"
                *ngFor="let item of items"
                [ngClass]="{
                    active: item.url && router.url.toString().indexOf(item.url) > -1
                }"
            >
                <a
                    class="sidebar-menu-button"
                    [ngClass]="{'true': !item.isCollapsed}"
                    href="javascript: void(0);"
                    (click)="toggleMenuItem(item)"
                    *ngIf="item.children.length > 0"
                >
                    <span class="material-icons mr-2">{{ item.icon }}</span>
                    {{ item.name }}
                    <span class="ml-auto material-icons">chevron_right</span>
                </a>
                <a
                    class="sidebar-menu-button"
                    [routerLink]="item.url"
                    routerLinkActive="active"
                    (click)="toggleMenuItem(item)"
                    *ngIf="item.children.length == 0"
                >
                    <span class="material-icons mr-2">{{ item.icon }}</span>
                    {{ item.name }}
                </a>
                
                <ul
                    class="sidebar-submenu sm-ident"
                    *ngIf="item.children.length > 0 && !item.isCollapsed"
                >
                    <li
                        class="sidebar-menu-item"
                        *ngFor="let submenu of item.children"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                    >
                        <a
                            class="sidebar-menu-button"
                            [routerLink]="submenu.url"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"
                        >
                            <span class="sidebar-menu-text">
                                {{ submenu.name }}
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="sidebar-menu m-0">
        <li class="sidebar-menu-item">
            <a
                class="sidebar-menu-button"
                href="javascript:void(0);"
                (click)="onLogout()"
            >
                <span class="material-icons mr-2">logout</span>
                Cerrar sesión
            </a>
        </li>
    </ul>
</div>
