<div class="app-login">
    <div class="card br-40 w50">
        <div class="p-5">
            <div class="row align-items-center mt-4 mb-4">
                <div class="col-md-6">
                    <div class="containerIcon">
                        <div class="iconLogin"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5 text-center">Bienvenido</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
                        <div class="mb-5 flex search-form search-form--login">
                            <label for="email" class="material-icons mr-3 ml-3 text-muted">person</label>
                            <input
                                type="text"
                                formControlName="email"
                                class="form-control"
                                placeholder="Usuario"
                                id="email"
                            />
                        </div>
                        <div class="mb-5 flex search-form search-form--login">
                            <label for="password" class="material-icons mr-3 ml-3 text-muted">lock</label>
                            <input
                                type="password"
                                formControlName="password"
                                class="form-control"
                                placeholder="Password"
                                id="password"
                            />
                        </div>
                        <div class="d-grid gap-2 mb-5">
                            <button type="submit" class="btn btn-primary btn-block rounded-pill p-2">INGRESAR</button>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="text-center fw-5">
                                    <span>Olvidé mi </span>
                                    <a routerLink="/forget-password" class="loginLink">contraseña</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
