<div class="py-2 px-5">
    <app-search
        [user]="user"
        get="todos los gets"
        [all]="true"
        (onHide)="toggleCanceled( $event )"
        (onPrint)="print( $event )"
        (onEnter)="search( $event )"
        (onDelivery)="noDelivery( $event )"
        (onClear)="showCanceled()"
    ></app-search>
    <div class="row mt-5" *ngIf="loading && searchAll">
        <div class="col-md-12">
            <app-loading></app-loading>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!loading">
        <div class="col-md-3">
            <app-content
                [data]="programming"
                name="Programación"
            ></app-content>
        </div>
        <div class="col-md-3">
            <app-content
                [data]="delivery"
                name="Entrega"
            ></app-content>
        </div>
        <div class="col-md-3">
            <app-content
                [data]="deliveryReport"
                name="Reporte entrega"
            ></app-content>
        </div>
        <div class="col-md-3">
            <app-content
                [data]="billing"
                name="Facturación"
            ></app-content>
        </div>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-md-3">
            <app-programming></app-programming>
        </div>
        <div class="col-md-3">
            <app-delivery></app-delivery>
        </div>
        <div class="col-md-3">
            <app-delivery-report></app-delivery-report>
        </div>
        <div class="col-md-3">
            <app-billing></app-billing>
        </div>
    </div>
</div>
