<div class="py-2 px-5">
    <app-search
        [user]="user"
        get="direccionamiento"
        (onHide)="toggleCanceled( $event )"
        (onPrint)="print( $event )"
        (onEnter)="search( $event )"
        (onDelivery)="noDelivery( $event )"
        (onClear)="showCanceled()"
        [filter]="data"
    ></app-search>
    <div class="row mt-5" *ngIf="loading && searchAddressing">
        <div class="col-md-12">
            <app-loading></app-loading>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!loading">
        <div class="col-md-3">
            <app-content
                [data]="addressing"
                name="Direccionamiento"
            ></app-content>
        </div>
    </div>
</div>
