:root {
    --gray: #6E6E6E;
    --headline: 55px;
    --thirdTitle: 31px;
    --radius: 15px;
    --radiusAlt: 25px;
    --whiteLight: rgba(255, 255, 255, 40%);
    --title-color: #707070;
    --color-primary: #3680AD;
    --color-primary-rgba: rgba(54, 128, 173, 0.9);
    --color-secondary: #90C33E;
    --color-secondary-rgba: rgba(144, 195, 62, 0.9);
}

body {
    background: #F2F5F8 !important;
}

.spinner-border {
    color: #151C52;
}

.color-white {
    color: #dfe2e6;
}

.respJson {
    height: 441px;
    background: #151C52;
    overflow: auto;
}

.w50 {
    width: 50%;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1.5rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.mr-4 {
    margin-right: 2rem;
}

.ml-4 {
    margin-left: 2rem;
}

.br-40 {
    border-radius: 40px !important;
}

.fw-5 {
    font-weight: 500;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.btn-primary:hover {
    background-color: var(--color-primary-rgba) !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link.app-link {
    padding-right: .9rem;
    padding-left: .9rem;
}

.p-dropdown {
    width: 100%;
}
