<div class="app-login">
    <div class="card br-40 w50">
        <div class="p-5">
            <div class="row align-items-center mt-4 mb-4">
                <div class="col-md-6">
                    <div class="containerIcon">
                        <div class="iconLogin"></div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="!emailEnviado">
                    <h2 class="mb-5 text-center">Cambiar contraseña</h2>
                    <div class="mb-5 flex search-form search-form--login">
                        <label for="email" class="material-icons mr-3 ml-3 mb-0 text-muted">alternate_email</label>
                        <input
                            type="text"
                            [(ngModel)]="email"
                            class="form-control"
                            placeholder="Email"
                            id="email"
                        />
                    </div>
                    <div class="d-grid gap-2 mb-5">
                        <button
                            type="submit"
                            (click)="onChange()"
                            class="btn btn-primary btn-block rounded-pill p-2"
                        >ENVIAR</button>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center fw-5">
                                <span>Ya tengo una cuenta </span>
                                <a routerLink="/login" class="loginLink">ingresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="emailEnviado">
                    <app-code-random [email]="email"></app-code-random>
                </div>
            </div>
        </div>
    </div>
</div>

