<div class="row">
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="CodSerTecAEntregar">Cod Ser Tec Entregado</label>
        <input
            type="text"
            name="CodSerTecAEntregar"
            id="CodSerTecAEntregar"
            class="form-control"
            [(ngModel)]="delivery.CodSerTecAEntregar"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="CantTotAEntregar">Cant Tot Entregada</label>
        <input
            type="text"
            name="CantTotAEntregar"
            id="CantTotAEntregar"
            class="form-control"
            [(ngModel)]="delivery.CantTotAEntregar"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="EntTotal">Ent Total</label>
        <input
            type="text"
            name="EntTotal"
            id="EntTotal"
            class="form-control"
            [(ngModel)]="delivery.EntTotal"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="CausaNoEntregaDelivery">Causa No Entrega</label>
        <input
            type="text"
            name="CausaNoEntregaDelivery"
            id="CausaNoEntregaDelivery"
            class="form-control"
            [(ngModel)]="delivery.CausaNoEntrega"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="FecEntrega">Fecha entrega</label>
        <input
            type="text"
            name="FecEntrega"
            id="FecEntrega"
            class="form-control"
            [(ngModel)]="FecEntrega"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="NoLote">No Lote</label>
        <input
            type="text"
            name="NoLote"
            id="NoLote"
            class="form-control"
            [(ngModel)]="delivery.NoLote"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="TipoIDRecibe">Tipo ID recibe</label>
        <input
            type="text"
            name="TipoIDRecibe"
            id="TipoIDRecibe"
            class="form-control"
            [(ngModel)]="delivery.TipoIDRecibe"
        />
    </div>
    <div class="col-md-12 mb-5">
        <label class="mb-0" for="NoIDRecibe">No ID recibe</label>
        <input
            type="text"
            name="NoIDRecibe"
            id="NoIDRecibe"
            class="form-control"
            [(ngModel)]="NoIDRecibe"
        />
    </div>
    <div class="col-md-12">
        <button
            (click)="accept()"
            class="btn btn-primary btn-block"
        >
            Aceptar
        </button>
    </div>
    <div class="col-md-12">
        <div class="row mt-5" *ngIf="loading && putDelivery">
            <div class="col-md-12">
                <app-loading></app-loading>
            </div>
        </div>
        <div class="row mt-5" *ngIf="!loading">
            <div class="col-md-12">
                <app-content
                    [data]="response"
                    name="Respuesta:"
                ></app-content>
            </div>
        </div>
    </div>
</div>
