<div class="row">
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="fec">Fecha maxima entrega</label>
        <input
            type="text"
            name="fec"
            id="fec"
            class="form-control"
            [(ngModel)]="data.fec"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="tipoId">Tipo id sede prov</label>
        <input
            type="text"
            name="tipoId"
            id="tipoId"
            class="form-control"
            [(ngModel)]="tipoId"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="noIdSede">No. ID sede prov</label>
        <input
            type="text"
            name="noIdSede"
            id="noIdSede"
            class="form-control"
            [(ngModel)]="noIdSede"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="codSede">Código sede prov</label>
        <input
            type="text"
            name="codSede"
            id="codSede"
            class="form-control"
            [(ngModel)]="codSede"
        />
    </div>
    <div class="col-md-12 mb-4">
        <label class="mb-0" for="codSerTec">Cod SER TEC a entregar</label>
        <input
            type="text"
            name="codSerTec"
            id="codSerTec"
            class="form-control"
            [(ngModel)]="data.codSerTec"
        />
    </div>
    <div class="col-md-12 mb-5">
        <label class="mb-0" for="cantidad">Cantidad total a entregar</label>
        <input
            type="text"
            name="cantidad"
            id="cantidad"
            class="form-control"
            [(ngModel)]="data.cantidad"
        />
    </div>
    <div class="col-md-12">
        <button
            (click)="accept()"
            class="btn btn-primary btn-block"
        >
            Aceptar
        </button>
    </div>
    <div class="col-md-12">
        <div class="row mt-5" *ngIf="loading && putProgramming">
            <div class="col-md-12">
                <app-loading></app-loading>
            </div>
        </div>
        <div class="row mt-5" *ngIf="!loading">
            <div class="col-md-12">
                {{ response }}
            </div>
        </div>
    </div>
</div>
