<div class="p-5">
    <h2 class="text-center">Anular facturación</h2>
    <app-anular-search
        anularTitle="facturación"
        from="billing"
        (onEnter)="anular( $event )"
    ></app-anular-search>
    <div class="row mt-5" *ngIf="loading && cancelBilling">
        <div class="col-md-12">
            <app-loading></app-loading>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!loading">
        <div class="col-md-12">
            {{ resp }}
        </div>
    </div>
</div>
